<h2>
  Edit Car
</h2>

<form *ngIf="car" (ngSubmit)="onSubmit()" #carForm="ngForm" > 
    <!-- routerLink="/update/{{id}}" -->
  <fieldset class="fild">
    <legend>Type / Update  details (car id: {{id}} )</legend>
      <br>
      <label for="owner">Owner: </label>
      <input type="text" name="owner" [(ngModel)]="car.owner" required />
      <br><br>
      <label for="make">Make : </label>
      <input type="text" name="make" [(ngModel)]="car.make" required />
      <br><br>
      <label for="model">Model: </label>
      <input type="text" name="model" [(ngModel)]="car.model" />
      <br><br>
      <label for="color">Color: </label>
      <input type="text" name="color" [(ngModel)]="car.color" />
      <br><br>
      <label for="plate">Plate: </label>
      <input type="text" name="plate" [(ngModel)]="car.plate" required />
      <br><br>
      <label for="image">Image: </label>
      <input type="text" name="image" [(ngModel)]="car.image" />
      <br><br><br>
      
      <button type="submit" >{{new ? 'Add' : 'Update'}}</button>
      &nbsp;
      <button type="button" (click)="delete()" *ngIf="!new" >Delete</button>
      &nbsp;
      <button type="button" (click)="reset()" >{{new ? 'Clear' : 'Reset'}}</button>
      &nbsp;
      <button type="button" (click)="goBack()">Go back</button>
      <br><br>
  </fieldset>
</form>

