<h2>
  <span>{{new ? 'Add' : 'Edit'}}</span> Car
</h2>
<div *ngIf="(user | async)">
  <form *ngIf="car" (ngSubmit)="onSubmit()" #carForm="ngForm">
    <!-- routerLink="/update/{{id}}" -->
    <fieldset class="fild">
      <legend>{{new ? 'Type' : 'Update'}} details (car id: {{id}} )</legend>
      <br>
      <label for="owner">Owner: </label>
      <input type="text" name="owner" [(ngModel)]="car.owner" required />
      <br><br>
      <label for="make">Make : </label>
      <input type="text" name="make" [(ngModel)]="car.make" required />
      <br><br>
      <label for="model">Model: </label>
      <input type="text" name="model" [(ngModel)]="car.model" />
      <br><br>
      <label for="color">Color: </label>
      <input type="text" name="color" [(ngModel)]="car.color" />
      <br><br>
      <label for="plate">Plate: </label>
      <input type="text" name="plate" [(ngModel)]="car.plate" required />
      <br><br>
      <label for="image">Image: </label>
      <input type="text" name="image" [(ngModel)]="car.image" />
      <br><br><br>

      <button type="submit">{{new ? 'Add' : 'Update'}}</button>
      &nbsp;
      <button type="button" (click)="delete()" *ngIf="!new">Delete</button>
      &nbsp;
      <button type="button" (click)="reset()">{{new ? 'Clear' : 'Reset'}}</button>
      &nbsp;
      <button type="button" (click)="goBack()">Go back</button>
      <br><br>
    </fieldset>
  </form>
</div>

<button type="button" class="btn btn-primary" (click)="openModal(template)">Open modal</button>
<br><br>
<pre class="card card-block card-header">{{message}}</pre>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>